html,
body {
    font-size: 62.5%;
}

body {
    background: #262737;
    font-size: 1.6rem;
    margin: 0;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input,
textarea,
button,
body {
    font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Muli", sans-serif;
    font-weight: 800;
}

a,
button {
    cursor: pointer;
    text-decoration: none;

    &:focus {
        outline: none;
    }
}
